<h1>{{ job.title }}</h1>
<p>{{ job.description }}</p>
<p>Ville : {{ job.city }}</p>
<p>Entreprise : {{ job.company.name }}</p>
<p>Type : {{ job.jobType.name }}</p>
<p>Remote : {{ job.remoteAllowed ? "Oui" : "Non" }}</p>
<p>Salaire : {{ job.salaryRange }}</p>
