{% extends 'base.html.twig' %}

{% block title %}JobApplication index{% endblock %}

{% block body %}
    <h1>JobApplication index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cover_letter</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_application in job_applications %}
            <tr>
                <td>{{ job_application.id }}</td>
                <td>{{ job_application.coverLetter }}</td>
                <td>{{ job_application.createdAt ? job_application.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_job_application_show', {'id': job_application.id}) }}">show</a>
                    <a href="{{ path('app_job_application_edit', {'id': job_application.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_application_new') }}">Create new</a>
{% endblock %}
